# Ignore Visual Studio-generated JSON files anywhere in the repository
**/*.vcxproj.json
**/*.filters.json

# Ignore .vs directory anywhere in the repository
**/.vs/
**/.vscode/

# Ignore all .exe files anywhere in the repository
**/*.exe

## Ignore .venv
**/.venv
Pipfile

**/**.html